<div class="main">
  <section class="header d-flex align-items-center justify-content-end flex-column">
    <div class="d-flex align-items-center justify-content-center logo w-100 mt-3">
      <img src="../../../assets/logo_sara.png" alt="logo">
    </div>
    <!-- <img class="background" src="../../../assets/bg.svg" alt="background_church"> -->

    <div class="textHeader">
      <div class="text1">
        <span style="font-weight: 300;">Seja</span>
        <span style="font-weight: 500;">
          bem-vindo
        </span>
      </div>

      <div class="text2 d-flex flex-column">
        <span>
          Já vou te enviar nosso novo livro digital Winner, mas antes preciso saber como posso te abençoar ainda mais
          aqui em nossas redes.
        </span>

        <span>
          Por isso preciso que você preencha todos os campos abaixo.
          Suas informações não serão divulgadas para absolutamente ninguém, ok?
        </span>

        <span>
          Nosso propósito é te conhecer melhor!
        </span>
      </div>
    </div>

    <a href="#start" class="buttonPrincipal"> Iniciar </a>

    <hr>

  </section>

  <section class="formsColumn h-100">

    <form id="start" name="search_snt" method="POST" class="formsCards" action="" [formGroup]="formCliente" data-netlify="true" netlify>

      <div class="mb-5 d-flex align-items-center justify-content-end">
        <span class="warn">Perguntas com <span class="aster">*</span> serão obrigatórias.</span>
      </div>

      <!-- Qual seu nome? -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> Qual seu nome?</h4>

        <mat-form-field class="w-100" appearance="outline">
          <input matInput type="text" placeholder="sua resposta:" formControlName="name" name="name">
          <mat-error *ngIf="formCliente.controls['name'].errors?.['required']">
            Digite seu nome
          </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- >Qual seu e-mail? -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> Qual seu e-mail?</h4>

        <mat-form-field class="w-100" appearance="outline">
          <input matInput type="email" placeholder="sua resposta:" formControlName="email" name="email">
          <mat-error *ngIf="formCliente.controls['email'].errors?.['required']">
            Digite seu email
          </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- Se você pudesse tomar um café com os Bispos Lucas e Priscila, em quais dos assuntos abaixo
          você gostaria que eles te ajudassem? (Pode marcar mais de um se preferir) -->
      <section class="mt-5 mb-5">
        <h4> <span class="aster">*</span> Se você pudesse tomar um café com os Bispos Lucas e Priscila, em quais dos assuntos abaixo
          você gostaria que eles te ajudassem? (Pode marcar mais de um se preferir)</h4>
          <p *ngFor="let item of dataCheckbox">
            <mat-checkbox [value]="item" (change)="checkboxCoffee($event)">{{item}}</mat-checkbox></p>
        <p><mat-checkbox class="boxAnother" value="outro" (change)="otherCoffee($event)">Outro:</mat-checkbox>
          <mat-form-field appearance="outline"  class="fieldCheckbox">
            <input matInput [disabled]="!(otherCoffeeValue.checked)" type="text" placeholder="sua resposta:" [(ngModel)]="otherCoffeeValue.field" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-error style="font-size: 14px;" *ngIf="formCliente.controls['coffe'].errors?.['required']">
            Assine um dos campos acima
          </mat-error>
        </p>

      </section>

      <hr>

      <!-- Sobre os temas que você escolheu acima, seja sincero, o quanto você acha que domina o
          assunto? -->
      <section class="mt-5 mb-5">
        <h4> <span class="aster">*</span> Sobre os temas que você escolheu acima, seja sincero, o quanto você acha que domina o
          assunto?</h4>

        <mat-form-field  appearance="outline" class="w-50 personalSelect">
          <mat-label>Selecione uma opção</mat-label>
          <mat-select formControlName="themeDomain">
            <mat-option value="Não entendo nada sobre o tema e preciso aprender muito">Não entendo nada sobre o tema e preciso aprender muito</mat-option>
            <mat-option value="Entendo um pouco, mas quero aprender mais">Entendo um pouco, mas quero aprender mais</mat-option>
            <mat-option value="Considero que entendo 100%">Considero que entendo 100%</mat-option>
            <mat-option value="Apenas admiro esse tema e não tenho nenhum interesse em aprender
            mais">Apenas admiro esse tema e não tenho nenhum interesse em aprender
              mais</mat-option>
          </mat-select>
          <mat-error  *ngIf="formCliente.controls['themeDomain'].errors?.['required']">
           Selecione uma opção
          </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- O que mais tem te IMPEDIDO para romper nas áreas que você marcou acima? -->
      <section class="mt-5 mb-5">
        <h4> <span class="aster">*</span> O que mais tem te IMPEDIDO para romper nas áreas que você marcou acima?</h4>

        <mat-form-field  class="w-100" appearance="outline">
          <input formControlName="prevents" matInput type="text" placeholder="sua resposta:" >
          <mat-error  *ngIf="formCliente.controls['prevents'].errors?.['required']">
            Preencha o campo acima
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- Eu quero te ajudar de verdade. Então, qual é o seu maior SONHO em relação aos assuntos que
          você votou na primeira pergunta? -->
      <section class="mt-5 mb-5">
        <h4> <span class="aster">*</span> Eu quero te ajudar de verdade. Então, qual é o seu maior SONHO em relação aos assuntos que
          você votou na primeira pergunta?</h4>

        <mat-form-field class="w-100" appearance="outline">
          <input formControlName="dream" name="dream"  matInput type="text" placeholder="sua resposta:" >
          <mat-error  *ngIf="formCliente.controls['dream'].errors?.['required']">
            Preencha o campo acima
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- Qual é o seu maior MEDO atualmente em relação aos temas votados acima? -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> Qual é o seu maior MEDO atualmente em relação aos temas votados acima?</h4>

        <mat-form-field  class="w-100" appearance="outline">
          <input formControlName="fear" name="fear" matInput type="text" placeholder="sua resposta:" >
          <mat-error  *ngIf="formCliente.controls['fear'].errors?.['required']">
            Preencha o campo acima
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- Referente aos temas que você se interessa acima, De 0 a 10, o quanto você está COMPROMETIDO em aprender para alcançá-los? -->
      <section class="mt-5 mb-5">
        <h4> <span class="aster">*</span> Referente aos temas que você se interessa acima, De 0 a 10, o quanto você está COMPROMETIDO em aprender para alcançá-los?</h4>

        <mat-form-field appearance="outline" class="w-50 personalSelect">
          <mat-label>Selecione uma opção</mat-label>
          <mat-select  formControlName="commitment">
            <mat-option value="0">0</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
          </mat-select>
          <mat-error  *ngIf="formCliente.controls['commitment'].errors?.['required']">
            Selecione uma opção
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- Comente um pouco comigo: como está seu estilo de vida ministerial e envolvimento na igreja hoje? -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> Comente um pouco comigo: como está seu estilo de vida ministerial e envolvimento na igreja hoje?</h4>

        <mat-form-field class="w-100" appearance="outline">
          <input  formControlName="involvementChurch" name="involvementChurch" matInput type="text" placeholder="sua resposta:" >
          <mat-error  *ngIf="formCliente.controls['involvementChurch'].errors?.['required']">
            Preencha o campo acima
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- O que mais te atraiu na igreja? -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> O que mais te atraiu na igreja?</h4>

        <mat-form-field class="w-100" appearance="outline">
          <input formControlName="attracted" name="attracted" matInput type="text" placeholder="sua resposta:" >
          <mat-error  *ngIf="formCliente.controls['attracted'].errors?.['required']">
            Preencha o campo acima
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- Em qual área/ministério/atividade da igreja você gostaria de se envolver mais? -->
      <section class="mt-5 mb-5">
        <h4> <span class="aster">*</span> Em qual área/ministério/atividade da igreja você gostaria de se envolver mais?</h4>

        <mat-form-field class="w-100" appearance="outline">
          <input formControlName="LikeToinvolved" name="LikeToinvolved" matInput type="text" placeholder="sua resposta:" >
          <mat-error  *ngIf="formCliente.controls['LikeToinvolved'].errors?.['required']">
            Preencha o campo acima
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

        <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> Qual Sara Nossa Terra Você frequenta?</h4>

        <mat-radio-group formControlName="wichChurch" name="wichChurch" class="d-flex flex-column" aria-label="Select an option"  [(ngModel)]="myChurch">
          <mat-radio-button    [value]="'Sara Sede Brasília'">Sara Sede Brasília</mat-radio-button>
          <div class="d-flex align-items-center ">
            <mat-radio-button class="boxAnother" [value]="'Outra'">Outra</mat-radio-button>
            <mat-form-field appearance="outline"  class="fieldCheckbox">
              <input matInput [disabled]="myChurch !== 'Outra'" type="text" placeholder="sua resposta:" [(ngModel)]="otherChurchValue.field" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>

          <mat-error style="font-size: 14px;"  *ngIf="formCliente.controls['wichChurch'].errors?.['required']">
            Selecione uma opção
           </mat-error>
        </mat-radio-group>

          <!-- <p> <mat-checkbox [value]="'Sara Sede Brasília'" (change)="checkboxChurch($event)">Sara Sede Brasília</mat-checkbox></p>
          <p> <mat-checkbox  class="boxAnother" [value]="'outra'" (change)="otherChurch($event); checkboxChurch($event)">Outra:</mat-checkbox>
            <mat-form-field appearance="outline"  class="fieldCheckbox">
              <input matInput [disabled]="!(otherChurchValue.checked)" type="text" placeholder="sua resposta:" [(ngModel)]="otherChurchValue.field" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-error style="font-size: 14px;" *ngIf="formCliente.controls['wichChurch'].errors?.['required']">
              Assine um dos campos acima
            </mat-error>
          </p> -->
      </section>

      <hr>

      <!-- De 0 a 10 qual o seu nível de satisfação com a igreja Sara Sede Brasília? -->
      <section class="mt-5 mb-5">
        <h4 *ngIf="myChurch === 'Sara Sede Brasília'"><span class="aster">*</span> De 0 a 10 qual o seu nível de satisfação com a igreja Sara Sede Brasília?</h4>
        <h4  *ngIf="myChurch !== 'Sara Sede Brasília'"><span class="aster">*</span> De 0 a 10 qual o seu nível de satisfação com a sua igreja?</h4>

        <mat-form-field appearance="outline" class="w-50 personalSelect">
          <mat-label>Selecione uma opção</mat-label>
          <mat-select formControlName="satisfaction" name="satisfaction">
            <mat-option value="0">0</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
          </mat-select>
          <mat-error  *ngIf="formCliente.controls['satisfaction'].errors?.['required']">
            Selecione uma opção
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- O que mais você sente falta na igreja? -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> O que mais você sente falta na igreja?</h4>

        <mat-form-field class="w-100" appearance="outline">
          <input formControlName="missInChurch" name="missInChurch" matInput type="text" placeholder="sua resposta:" >
          <mat-error  *ngIf="formCliente.controls['missInChurch'].errors?.['required']">
            Preencha o campo acima
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- Quais são as pessoas em que você se espelha atualmente (suas referências)? -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> Quais são as pessoas em que você se espelha atualmente (suas referências)?</h4>

        <mat-form-field class="w-100" appearance="outline">
          <input formControlName="references" name="references" matInput type="text" placeholder="sua resposta:" >
          <mat-error  *ngIf="formCliente.controls['references'].errors?.['required']">
            Preencha o campo acima
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- Qual sua idade? -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> Qual sua idade?</h4>

        <mat-form-field appearance="outline" class="w-50 personalSelect">
          <mat-label>Selecione uma opção</mat-label>
          <mat-select formControlName="age" name="age">
            <mat-option value="12 a 15 anos">12 a 15 anos</mat-option>
            <mat-option value="16 a 18 anos">16 a 18 anos</mat-option>
            <mat-option value="19 a 21 anos">19 a 21 anos</mat-option>
            <mat-option value="22 a 24 anos">22 a 24 anos</mat-option>
            <mat-option value="25 a 27 anos">25 a 27 anos</mat-option>
            <mat-option value="28 a 30 anos">28 a 30 anos</mat-option>
            <mat-option value="31 a 33 anos">31 a 33 anos</mat-option>
            <mat-option value="35 a 38 anos">35 a 38 anos</mat-option>
            <mat-option value="39 a 42 anos">39 a 42 anos</mat-option>
            <mat-option value="43 a 46 anos">43 a 46 anos</mat-option>
            <mat-option value="Acima de 47 anos">Acima de 47 anos</mat-option>
            <mat-option value="Acima de 50 anos">Acima de 50 anos</mat-option>
            <mat-option value="Acima de 60 anos">Acima de 60 anos</mat-option>
          </mat-select>
          <mat-error  *ngIf="formCliente.controls['age'].errors?.['required']">
            Selecione uma opção
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- Estado Atual de relacionamento -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> Estado Atual de relacionamento</h4>

        <mat-form-field appearance="outline" class="w-50 personalSelect">
          <mat-label>Selecione uma opção</mat-label>
          <mat-select formControlName="relationship" name="relationship">
            <mat-option value="Solteiro(a)">Solteiro(a)</mat-option>
            <mat-option value="Casado(a)">Casado(a)</mat-option>
            <mat-option value="Divorciado(a)">Divorciado(a)</mat-option>
            <mat-option value="Viúvo(a)">Viúvo(a)</mat-option>
          </mat-select>
          <mat-error  *ngIf="formCliente.controls['relationship'].errors?.['required']">
           Selecione uma opção
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- Sexo -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> Sexo</h4>

        <mat-form-field appearance="outline" class="w-50 personalSelect">
          <mat-label>Selecione uma opção</mat-label>
          <mat-select formControlName="sex" name="sex">
            <mat-option value="Homem">Homem</mat-option>
            <mat-option value="Mulher">Mulher</mat-option>
          </mat-select>
          <mat-error  *ngIf="formCliente.controls['sex'].errors?.['required']">
           Selecione uma opção
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- Você tem filhos? -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> Você tem filhos?</h4>

        <mat-radio-group formControlName="child" name="child" class="d-flex flex-column" aria-label="Select an option">
          <mat-radio-button  [value]="true">Sim</mat-radio-button>
          <mat-radio-button [value]="false">Não</mat-radio-button>
          <mat-error style="font-size: 14px;"  *ngIf="formCliente.controls['child'].errors?.['required']">
            Selecione uma opção
           </mat-error>
        </mat-radio-group>

      </section>

      <hr>

      <!-- Se a resposta acima for sim, quantos filhos você tem? -->
      <section class="mt-5 mb-5" [ngClass]="!formCliente.controls['child'].value? 'disabled': ''">
        <h4>Se a resposta acima for sim, quantos filhos você tem?</h4>

        <mat-form-field appearance="outline" class="w-50 personalSelect">
          <mat-label>Selecione uma opção</mat-label>
          <mat-select formControlName="manyChilds" name="manyChilds " >
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="10++">10++</mat-option>
          </mat-select>
        </mat-form-field>

      </section>

      <hr>

      <!-- Qual é a sua profissão? (Pode marcar + de uma opção) -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> Qual é a sua profissão? (Pode marcar + de uma opção)</h4>

        <p id="occupation" *ngFor="let item of dataCheckboxOccupation">
          <mat-checkbox [value]="item" (change)="checkboxOccupation($event)">{{item}}</mat-checkbox>
        </p>
        <p><mat-checkbox class="boxAnother" value="outro" (change)="otherOccupation($event)">Outro:</mat-checkbox>
          <mat-form-field appearance="outline" class="fieldCheckbox">
            <input matInput type="text" [disabled]="!(otherOccupationValue.checked)" placeholder="sua resposta:" [(ngModel)]="otherOccupationValue.field" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-error  style="font-size: 14px;" *ngIf="formCliente.controls['occupation'].errors?.['required']">
            Assine um dos campos acima
           </mat-error>
        </p>

      </section>

      <hr>

      <!-- Qual bairro você mora? -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> Qual bairro você mora?</h4>

        <mat-form-field class="w-100" appearance="outline">
          <input formControlName="address" name="address" matInput type="text" placeholder="sua resposta:" >
          <mat-error  *ngIf="formCliente.controls['address'].errors?.['required']">
            Preencha o campo acima
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <!-- Como você ficou sabendo desta pesquisa? -->
      <section class="mt-5 mb-5">
        <h4><span class="aster">*</span> Como você ficou sabendo desta pesquisa?</h4>

        <mat-form-field appearance="outline" class="w-50 personalSelect">
          <mat-label>Selecione uma opção</mat-label>
          <mat-select formControlName="search" name="search">
            <mat-option value="Instagram / Stories">Instagram / Stories</mat-option>
            <mat-option value="Youtube">Youtube</mat-option>
            <mat-option value="Site da Sara Sede Brasília">Site da Sara Sede Brasília</mat-option>
            <mat-option value="Líderança">Líderança</mat-option>
          </mat-select>
          <mat-error  *ngIf="formCliente.controls['search'].errors?.['required']">
          Selecione uma opção
           </mat-error>
        </mat-form-field>

      </section>

      <hr>

      <section class=" d-flex justify-content-between">
        <button type="submit" class="buttonDefault" [disabled]="formCliente.invalid"  (click)="submit()">
          Receber meu livro
        </button>

        <button class="buttonStroked"  (click)="clearForm()">
          Limpar formulário
        </button>
      </section>

    </form>
  </section>
</div>
