// TABLET SCREEN
@media (max-width: 820px) {
  .main {
    .formsColumn {
      font-size: 18px;
      padding: 1rem;

      .formsCards {
        // padding: 0;
        padding: 2rem 3rem 3rem 2rem;

        .boxAnother {
          width: 20%;
        }

        .fieldCheckbox {
          width: 60%;
        }
      }

      .buttonDefault,
      .buttonStroked {
        font-size: 18px;
      }

    }
  }
}

// MOBILE SCREEN
@media (max-width: 600px) {
  .main {

    .header {

      .textHeader {
        .text1 {
          font-size: 45px;
          margin-bottom: 1rem;
          line-height: 50px;
          // font-size: 60px;
        }

        .text2 {
          font-size: 16px;
          gap: 19px;
        }
      }
    }

    .formsColumn {
      font-size: 14px;
      padding: 0.5rem;

      .formsCards {
        // padding: 0;
        padding: 0;

        .personalSelect{
          width: 100% !important;
        }
        .boxAnother {
          width: 30%;
        }

        .fieldCheckbox {
          width: 50%;
        }

        h4 {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 3rem;
        }

        section {
          margin: 1rem;
        }

      }
    }
  }

  .buttonDefault,
  .buttonStroked {
    font-size: 18px;
  }

  ::ng-deep {
    .mdc-form-field>label {
      font-size: 12px;
    }
  }

}


@media (max-width: 414px) {
  .main {

    .header {
      .logo img{
        width: 90px;
      }
      .textHeader {
        .text1 {
          font-size: 45px;
          margin-bottom: 1rem;
          line-height: 50px;
        }
        .text2{
          gap: 19px;
        }

      }

      .buttonPrincipal {
        width: 50%;
      }
    }

    .formsColumn {
      font-size: 14px;

      .formsCards {
        // padding: 0;

        .boxAnother {
          width: 30%;
        }

        .fieldCheckbox {
          width: 50%;
        }

        h4 {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 3rem;
        }

      }
    }
  }

  .buttonDefault,
  .buttonStroked {
    font-size: 16px !important;
    width: 40% !important;
  }

  ::ng-deep {
    .mdc-form-field>label {
      font-size: 12px;
    }
  }
}
